<!DOCTYPE html>
<html>
  <head>
    <title>Hi</title>
    <style>@import url(/css/r-c-min.css)</style>
    <script src="/js/htmx.js"></script>
    <style>
      header { background-color: #999;}
      section { background-color: #ddd; }
      aside  { background-color: #ddd; }
      footer { background-color: #999;}
      h3 { margin-bottom: 0; font-size: 100%; }
      dl {    
        display: grid;
        grid-template-columns: 9rem 1fr;
        column-gap: 0.75rem;
      }
      dt {    grid-column-start: 1; }
      dd {    grid-column-start: 2;  display: flex;}
      dl.facet_counts dt {padding-bottom: 1em; }
      dl.entry dt { font-weight: bold }

      section.left { padding-right: 0em !important; }
    </style>


    </head>

  <body data-r-c data-join hx-boost="true">
    <header data-lg1><h1>Opachyderm
<div>Random number: <%= Random.rand(1000) %></div></h1>
    <div id="searchbox"><form method="get" target="/search/<%=Random.rand(1000)%>">Search  
    <input type="text" value="<%= search_terms %>"/></form>
    </div>

      <div hx-target="#facets" hx-swap="outerHTML" hx-trigger="click">
        <button class="btn" hx-get="/update/facets">
          Get new facets
        </button>
      </div>
    </header>

    <main data-lg1-2>
    <h2>Search Results for <em><%= search_terms %></em> </h2>
      <% documents.each do |doc| %>
        <%= erb :search_result, locals: { doc: doc } %> 
        <hr/>
      <% end %> 
    </main>

    <section class="left" data-sm1-2 data-lg1-4 data-lg2>
      <h2>Facets and such</h2>
      <div id="facets">
      <% facets.each_pair do |key, values| %>
        <h3><%= key %></h3>
        <dl class="facet_counts">
          <% values.each do |tc| %>
            <dt><%= tc.first %></dt>
            <dd><%= tc.last %></dd>
            <% end %>
        </dl>
        <% end %>
      </div>
  
    </section>
    <aside data-sm1-2 data-lg1-4><h2>Other stuff?</h2><div id="fd2"></div></aside>
    <footer>Footer</footer>
  </body>


</html>

      
    
